.callBack {
  align-items: center;
  height: 800px;
}

.region ul li{
    display: block;
     margin: 50px 0px 0px 100px;
     padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
    width: auto;
    border-left: 3px solid rgba(255, 0, 0, 0);
    
}

.region ul{
    box-sizing: border-box;
    padding: 0;
    width: 100%;
}

.region {
    width: 40%;
    float: left;
    margin-right: 0;
    margin-left: 0px;
     padding: 0;
     line-height: 10px;
     box-sizing: border-box;
}

.region ul li:hover{
    border-left: 3px solid rgb(255, 0, 0);
    transition: 900ms;
   
}



.map {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    width: 500px;
    height: 500px;
}

.map iframe{
  width: 450px;
  height: 450px;
}


@media (max-width: 893px) {
  .map iframe{
    width: 300px;
    height: 300px;
  }
  .map {
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    width: 400px;
    height: 400px;
}
.region ul li{
  font-size: 13px;
  margin-left: 10px;
}
}

@media (max-width: 666px) {
  .map iframe{
    width: 300px;
    height: 300px;
  }
  .map {
    margin-top: 20px;
    margin-left: 10px;
    clear: both;
    width: 350px;
    height: 350px;
}
.region ul li{
  font-size: 13px;
  margin-left: 0px;
  margin-right: 0px;
  display:inline-block;
  width: 45%;
}
.region {
  width: 100vw;
  clear: both;
  margin-right: 0;
  margin-left: 0px;
   padding: 0;
   line-height: 13px;
   box-sizing: border-box;
   
}
}

body {
    margin: 0;
    padding: 0;
}


.callback {
    margin-bottom: 50px;
    height: 100%;
    width: 100%;
    
}


.cbo {
  background-color: brown;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.cbform {
    margin-top: 40px;
    margin-right: 50px;
    float: right;
    padding: 0;
    width:0;
    height: 0;
  }
  
  .form {
      width: 100%;
   
      
  }
  
  .form h3 {
      text-align: center;
      
    }
  
    .form-group label {
      display: block;
      font-size: 15px;
      width: 100%;
      color: rgb(255, 255, 255);
      
    }
  
    .form-group input,
    .form-group textarea {
      width: 100%;
      box-sizing: border-box;
      border: none;
      background: transparent;
      margin-top: 5px;
      border-radius: 10px;
      color: black;
      padding: 5px 5px;
      outline: none;
      font-family: inherit;
      background-color: white;
    }
  
    .form-row {
      margin-bottom: 5px;
      display: flex;
      width: 100%;
      
    }
  
    .form-row .form-group {
      /*display: inline-block;*/
      margin-right: 20px;
      /*width: calc(50% - 20px);*/
      width: 50%;
    }
  
    .sendButton {
      background-color: white;
      border-radius: 5px;
      border: none;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }


    @media (max-width: 500px) {
      .form-row {
        display: block;
      }
  
      .form-row .form-group{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  
    .form-row .form-group:last-child {
      
      margin-right: 0px;
      
    }
  
    .form-animation {
      animation: show 1s;
    }
  
    
  
    @keyframes show {
  
      from {opacity: 0;} to {opacity: 1;}
    }
  
   